.App {
  display: block;
  text-align: center;
  width: 100vw;
  height: auto;
  padding: 0;
  margin: 0;
}

.background{
  width: 100vw;
  height: auto;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("C:\Users\Arthur Selingin\momozi\src\fotos\gifBGQUALITy.gif");
  background-position: center;
} 

.muralContainer{
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  
}